.footer {
/*  height: 60px;*/
  background-color: #2C2C2C;
  list-style-type: none;
  text-align: center;
  display: flex;
  padding-top: 80px;
}


.footer ul {
  margin: 0px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}




.footer li{
  list-style-type: none;
}



.footer h3 {
  font-family: Apercu;
  font-size: 12px;
  color: white;
}

.footer h3:hover {
transition: 0.5s ease;
color: #FF5935;

}


.footer img {
  padding-right: 10px;
}

